<!DOCTYPE html>
<html>
    <head>
        <title>My first Vue app</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            .colorProp{
                color: red;
            }
            .el-default{
                display: block;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <p :title="title">
                Light title: {{ message }}!
            </p>
            <p :class = "{ colorProp: colorAct, 'el-default': active}">I' m red button</p>
            <p :class = "[isActive? 'active' : 'disabled', 'default']">I' m second button</p>
            <p :style = "{color: color, width: width + 'px'}">I' m third button</p>

            <input v-model="message">
            <span v-if="seen">
                Do you see me?
            </span>
            <ol>
                <li v-for="lot in lots">
                    {{lot.text}}
                </li>
            </ol>
            <div v-if="Math.random() > 0.5">
                Many
            </div>
            <div v-else>
                Not many
            </div>
            <ol>
                <li v-for="(product, index) in products">
                    {{product}} : {{index}}
                </li>
            </ol>
            <ol>
                <li v-for="user in users">
                    {{user.id}} - {{user.name}}
                </li>
            </ol>
            <button @click="reverseMessage">Reverse message</button>
            <h2>{{ fullName }}</h2>
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    title: 'You load this page on: ' + new Date().toLocaleString(),
                    colorAct: true,
                    active: true,
                    isActive: false,
                    color: 'green',
                    width: 200,
                    seen: true,
                    firstName: 'Foo',
                    lastName: 'Bar',
                    lots: [
                        {text: "first"},
                        {text: "second"},
                        {text: "third"}
                    ],
                    products: [9, 11, 15],
                    users: [
                        {id:7708, name: 'Vasya'},
                        {id:8808, name: 'Petya'},
                        {id:9915, name: 'Pacha'}
                    ]
                },
                methods: {
                    reverseMessage: function () {
                        this.message = this.message.split('').reverse().join('')
                    }
                },
                computed: {
                    // fullName: function () {
                    //     return this.firstName + ' ' + this.lastName
                    // },
                    fullName: {
                        // геттер:
                        get: function () {
                            return this.firstName + ' ' + this.lastName
                        },
                        // сеттер:
                        set: function (newValue) {
                            var names = newValue.split(' ');
                            this.firstName = names[0];
                            this.lastName = names[names.length - 1];
                        }
                    }
                }
            })
        </script>
    </body>
</html>